@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../public/fonts/roboto-regular.woff2") format("woff2"),
    url("../public/fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../public/fonts/roboto-bold.woff2") format("woff2"),
    url("../public/fonts/roboto-bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  background-color: #0e1621;
  color: #aec0d3;
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  background-color: #17212b;
  padding: 1vh 0 1vh 0;
}

header a {
  margin: 0 auto;
}

.mainHeading {
  color: #aec0d3;
  text-align: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 80vh;
  margin: 4vh auto 4vh auto;
  background-color: #182533;
  border: 1px solid rgba(174, 192, 211, 0.3);
  border-radius: 5px;
  padding: 25px 0;
}

.calendar h2 {
  margin-bottom: 15px;
}

.cellsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: space-between;
  width: 95%;
}

.cell {
  border: 1px solid rgba(174, 192, 211, 0.3);
  border-radius: 5px;
  width: calc(100% / 7);
  height: 18%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cellDate,
.cellPreview {
  color: #aec0d3;
  overflow: hidden;
}

.cellDate {
  margin-top: 5%;
  margin-left: 5%;
}

.cellPreview {
  font-weight: 700;
  font-size: 1.2rem;
  align-self: center;
  text-transform: uppercase;
}

.workoutEditor {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  border: 1px solid rgba(174, 192, 211, 0.3);
  border-radius: 5px;
  width: 70%;
  height: 90%;
}

.workoutEditor h3 {
  align-self: center;
}

label[for="muscleGroup"] {
  margin-left: 1%;
}

#muscleGroup {
  margin-left: 1%;
}

.addExercise {
  align-self: flex-start;
  margin: 1%;
  margin-top: 1.5%;
  padding: 0.5% 1% 0.5% 1%;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: #2b5278;
  color: #aec0d3;
  border: 1px solid rgba(174, 192, 211, 0.3);
}

.addExercise:hover,
.deleteExercise:hover {
  opacity: 0.7;
}

.addExercise:active,
.deleteExercise:active {
  opacity: 0.5;
}

.deleteExercise {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  background-color: #6a2a26;
  color: #aec0d3;
  border: 1px solid rgba(174, 192, 211, 0.3);
  padding: 0.5% 1% 0.5% 1%;
}

.exercise {
  display: inline-block;
  margin-top: 2%;
  margin-left: 1%;
}

.setNumberLabel,
.repNumberLabel,
.deleteExercise {
  margin-left: 1%;
}

.exerciseNameInput,
.setNumberInput,
.repNumberInput {
  margin-left: 0.5%;
}

#muscleGroup,
.exerciseNameInput,
.setNumberInput,
.repNumberInput {
  background-color: #0e1621;
  color: #aec0d3;
  border: 1px solid rgba(174, 192, 211, 0.3);
  padding: 0.5%;
}

/* removing arrows */
.setNumberInput::-webkit-outer-spin-button,
.repNumberInput::-webkit-outer-spin-button,
.setNumberInput::-webkit-inner-spin-button,
.repNumberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.setNumberInput,
.repNumberInput {
  -moz-appearance: textfield;
}

.addSet,
.addRep,
.removeSet,
.removeRep {
  margin-left: 0.5%;
  font-style: normal;
  font-weight: 700;
  border: 1px solid rgba(174, 192, 211, 0.5);
  border-radius: 7px;
  padding: 4px 8px;
  cursor: pointer;
  background-color: #0e1621;
  color: #aec0d3;
}

.addSet:hover,
.addRep:hover,
.removeSet:hover,
.removeRep:hover {
  color: #0e1621;
  background-color: rgba(174, 192, 211, 0.7);
}

.addSet:active,
.addRep:active,
.removeSet:active,
.removeRep:active {
  color: #0e1621;
  background-color: rgba(174, 192, 211, 1);
}

/* DatePicker */
.react-date-picker {
  margin-bottom: 15px;
}

.react-date-picker__wrapper {
  border: 1px solid rgba(174, 192, 211, 0.3);
  border-radius: 2px;
}

.react-date-picker__inputGroup__input {
  color: #aec0d3;
}

.react-date-picker__button__icon {
  stroke: #aec0d3;
}
