@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../public/fonts/roboto-regular.woff2") format("woff2"),
    url("../public/fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../public/fonts/roboto-bold.woff2") format("woff2"),
    url("../public/fonts/roboto-bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  background-color: #0e1621;
  color: #aec0d3;
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

header {
  display: flex;
  background-color: #17212b;
  padding: 3.5vh 0 3.5vh 0;
}

header a {
  margin: 0 auto;
  text-decoration: none;
}

.mainHeading {
  color: #aec0d3;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 80vh;
  margin: 4vh auto 4vh auto;
  background-color: #182533;
  border: 1px solid rgba(174, 192, 211, 0.3);
  border-radius: 5px;
  padding: 25px 0;
}

.calendar h2 {
  margin-bottom: 15px;
}

.cellsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: space-between;
  width: 95%;
}

.cell {
  border: 1px solid rgba(174, 192, 211, 0.3);
  border-radius: 5px;
  width: calc(100% / 7);
  height: 18%;
  cursor: pointer;
  overflow: hidden;
}

.cellTextarea {
  background-color: #182533;
  color: #aec0d3;
  border: none;
  width: 90%;
  height: 20%;
  display: flex;
  margin: 5% auto auto auto;
  resize: none;
  overflow: hidden;
}

.workoutEditor {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  border: 1px solid rgba(174, 192, 211, 0.3);
  border-radius: 5px;
  width: 70%;
  height: 90%;
}

.workoutEditor h3 {
  align-self: center;
}

label[for="muscleGroup"] {
  margin-left: 1%;
}

#muscleGroup {
  margin-left: 1%;
}

.addExercise {
  font-weight: 700;
  margin-left: 1%;
  margin-top: 1%;
  cursor: pointer;
}

.addExercise:hover {
  opacity: 0.7;
}

.exercise {
  margin-top: 2%;
  margin-left: 1%;
}

.exerciseNameInput,
.setNumberLabel,
.setNumberInput,
.repNumberLabel,
.repNumberInput {
  margin-left: 1%;
}

.addSet,
.addRep {
  margin-left: 0.5%;
  font-style: normal;
  font-weight: 700;
  border: 1px solid rgba(174, 192, 211, 1);
  border-radius: 7px;
  padding: 2px 6px;
  cursor: pointer;
}

.addSet:hover,
.addRep:hover {
  color: #0e1621;
  background-color: rgba(174, 192, 211, 1);
}

/* DatePicker */
.react-date-picker {
  margin-bottom: 15px;
}

.react-date-picker__wrapper {
  border: 1px solid rgba(174, 192, 211, 0.3);
  border-radius: 2px;
}

.react-date-picker__inputGroup__input {
  color: #aec0d3;
}

.react-date-picker__button__icon {
  stroke: #aec0d3;
}
